{% extends "layout.html" %}
{% block title %}Create Thread{% endblock %}
{% block content %}
<h2><a href="/topics" class="breadcrum">Topics</a> &#62; <a href="/topic/{{ topic.id }}" class="breadcrum">{{ topic.name }}</a></h2><br>

<h3>Create thread</h3>

{% if message %}
	<p class="error"> {{ message }} </p>
{% endif %}

<form action="/topic/{{ topic.id }}" method="GET">
    <button type="submit" formaction="/topic/{{ topic.id }}">Cancel</button>
</form><br>

<form action="/create_thread/{{ topic.id }}" method="POST" onsubmit="return check(this)">

Thread name: <input type="text" name="subject" size="40" class="text-line"><br>
<br>
Message:<br> <textarea name="message" class="textbox" rows="3" cols="40"></textarea><br>
<button type="submit">Create</button>




<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>

<br>
<span id="error" class="error"></span>

<script>
function check(form) {
    var error = document.getElementById("error");
    if (form.subject.value.length == 0) {
        error.textContent = "Subject cannot be empty";
        return false;
    }
    if (form.subject.value.length > 250) {
        error.textContent = "Subject too long (max 250 characters)";
        return false;
    }
	if (form.message.value.length > 500) {
        error.textContent = "Message too long (max 500 characters)";
        return false;
    }
    return true;
}
</script>

{% endblock %}