{% extends "layout.html" %}
{% block title %}Create Thread{% endblock %}
{% block content %}
<h2><a href="/topics">Topics</a>: {{ topic.name }}</h2>

<h3>Create thread</h3>

{% if message %}
	<p class="error"> {{ message }} </p>
{% endif %}

<form action="/create_thread/{{ topic.id }}" method="POST" onsubmit="return check(this)">

Thread name: <textarea name="subject" rows="2" cols="40"></textarea><br>
Message: <textarea name="message" rows="3" cols="40"></textarea><br>
<input type="submit" value="Create"> <br>




<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>


<script>
function check(form) {
    if (form.subject.value.length == 0) {
        alert("Topic cannot be empty");
        return false;
    }
    if (form.subject.value.length > 250) {
        alert("Subject too long (max 250 characters)");
        return false;
    }
	if (form.message.value.length > 500) {
        alert("Message too long (max 500 characters)");
        return false;
    }
    return true;
}
</script>

{% endblock %}