{% extends "layout.html" %}
{% block title %}Edit Thread{% endblock %}
{% block content %}
<h2>Edit Thread</h2><br>

{% if message %}
	<p class="error"> {{ message }} </p>
{% endif %}

<input id='save_or_delete' type="hidden" name="save_or_delete" value="save">

<form action="/thread/{{ thread.id }}" method="POST" onsubmit="return check(this)">
<button type="submit" formaction="/delete_thread/{{ thread.id }}" onclick="change_to_delete(this)">Delete thread</button><br>
<br>
Thread subject: <input type="text" name="subject" value="{{ thread.subject }}" size="40" class="text-line"><br>

<br>
<button type="submit" formaction="/edit_thread/{{ thread.id }}" onclick="change_to_save(this)">Save Changes</button>


<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>


<br>

<form action="/thread/{{ thread.id }}" method="GET">
<button type="submit" formaction="/thread/{{ thread.id }}">Cancel</button>
</form>

<br>
<span id="error" class="error"></span>

<script>
function check(form) {
    var error = document.getElementById("error");
    if (document.getElementById("save_or_delete").value == "save" && form.subject.value.length == 0) {
        error.textContent = "Subject cannot be empty";
        return false;
    }
    if (document.getElementById("save_or_delete").value == "save" && form.subject.value.length > 250) {
        error.textContent = "Subject too long (max 250 characters)";
        return false;
    }
    return true;
}
</script>


<script>
function change_to_save(form) {
    document.getElementById("save_or_delete").value = "save";
}
</script>

<script>
function change_to_delete(form) {
    document.getElementById("save_or_delete").value = "delete";
}
</script>

{% endblock %}