{% extends "layout.html" %}
{% block title %}Edit Message{% endblock %}
{% block content %}
<h2>Edit Message</h2>

{% if error %}
	<p class="error"> {{ error }} </p>
{% endif %}

<form action="/edit_message/{{ message.id }}" method="POST" onsubmit="return check(this)">
<button type="submit" formaction="/delete_message/{{ message.id }}">Delete message</button><br>
Message content: <textarea name="content" rows="3" cols="40">{{ message.content }}</textarea><br>

<button type="submit" formaction="/edit_message/{{ message.id }}">Save Changes</button><br>



<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>


<script>
function check(form) {
    if (form.content.value.length == 0) {
        alert("Message cannot be empty");
        return false;
    }
    if (form.content.value.length > 500) {
        alert("Message too long (max 500 characters)");
        return false;
    }
    return true;
}
</script>

{% endblock %}