{% extends "layout.html" %}
{% block title %}Edit Topic{% endblock %}
{% block content %}
<h2>Edit Topic</h2><br>

<form action="/topics" method="GET">
    <button type="submit" formaction="/topics">Cancel</button>
</form><br>

<input id='save_or_delete' type="hidden" name="save_or_delete" value="save">

<form action="/edit_topic/{{ topic.id }}" method="POST" onsubmit="return check(this)">

<button type="submit" formaction="/delete_topic/{{ topic.id }}" onclick="change_to_delete(this)">Delete topic</button><br>

<br>

<button type="submit" onclick="change_to_save(this)">Save Changes</button><br><br>

Topic name: <input type="text" name="name", value="{{ topic.name }}" size="40" class="text-line"><br>


{% if topic.is_hidden %}
	<label for="is_hidden">
		Hidden: <input type="checkbox" class="checkbox" id="is_hidden" name="is_hidden" value="Y" checked>  
	</label>


{% else %}
	<label for="is_hidden">
		Hidden: <input type="checkbox" class="checkbox" id="is_hidden" name="is_hidden" value="Y">  
	</label>
<br><br><br>
{% endif %}


For a topic that is or will be hidden:<br><br>

Remove access from following users (admins will always have access):<br>

{% for user in user_accesses %}
	{% if user.has_access %}
	<label for="revoke_access">
		<input type="checkbox" class="checkbox" id="revoke_access" name="revoke_access" value={{ user.id }}> {{ user.username }}
	</label>
	<br>
	{% endif %}
{% endfor %}


<br>Grant access for following users:<br>

{% for user in user_accesses %}
	{% if not user.has_access %}
		<label for="grant_access">
		<input type="checkbox" class="checkbox" id="grant_access" name="grant_access" value={{ user.id }}> {{ user.username }}
		</label>
		<br>
	{% endif %}
{% endfor %}


<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>

<br>
<span id="error" class="error"></span>


<script>
function check(form) {
	var error = document.getElementById("error");
    if (document.getElementById("save_or_delete").value == "save" && form.name.value.length == 0) {
		error.textContent = "Topic cannot be empty";
        return false;
    }
    if (document.getElementById("save_or_delete").value == "save" && form.name.value.length > 250) {
		error.textContent = "Topic too long (max 250 characters)";
        return false;
    }
    return true;
}
</script>

<script>
function change_to_save(form) {
    document.getElementById("save_or_delete").value = "save";
}
</script>

<script>
function change_to_delete(form) {
    document.getElementById("save_or_delete").value = "delete";
}
</script>

{% endblock %}