{% extends "layout.html" %}
{% block title %}Edit Topic{% endblock %}
{% block content %}
<h2>Edit Topic</h2>


<form action="/edit_topic/{{ topic.id }}" method="POST">

<button type="submit" formaction="/delete_topic/{{ topic.id }}">Delete topic</button><br>

<input type="submit" value="Save Changes"> <br>

Topic name: <input type="text" name="name", value="{{ topic.name }}" size="40"><br>

Hidden:
{% if topic.is_hidden %}
	<input type="checkbox" name="is_hidden" value="Y" checked> <br>
{% else %}
<input type="checkbox" name="is_hidden" value="Y"> <br>
{% endif %}


For a topic that is or will be hidden:<br>

Remove access from following users (admins will always have access):<br>

{% for user in user_accesses %}
	{% if user.has_access %}
		<input type="checkbox" name="revoke_access" value= {{ user.id }}> {{ user.username }}<br>
	{% endif %}
{% endfor %}


Grant access for following users:<br>

{% for user in user_accesses %}
	{% if not user.has_access %}
		<input type="checkbox" name="grant_access" value= {{ user.id }}> {{ user.username }}<br>
	{% endif %}
{% endfor %}


<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}