<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Discussion Threads - {% block title %}{% endblock %}</title>
</head>
<body>
	<nav class="header">
		<div class="two">
			<a class="link_class" href="/topics">
				<div class="topics">
					Topics
				</div>
			</a>
			{% if topic is defined or thread is defined %}
				{% if thread is defined %}
				<a class="link_class" href="/topic/{{ thread.topic_id}}">
					<div class="threads">
						Threads
					</div>
				</a>
				{% else %}
				<a class="link_class" href="/topic/{{ topic.id}}">
					<div class="threads">
						Threads
					</div>
				</a>
				{% endif %}
			{% endif %}
			
		</div>
		<div class="logo-container">
			<img src="/static/logo.png" alt="Logo" class="logo"> Discussion Threads
		</div>
	</nav>

	<nav class="sidebar">
		<div class="nav-options">
			
			<a href="/search?&search_topics=True&search_threads=True&search_messages=True">
				<button type="submit" value="Search" class="nav-button">
					<img src='/static/search.png' class="search-icon">
					<div class="tooltip">Search</div>
				</button></a>
				
		</div>
		<div class="nav-options">
			
			<a href="/logout">
				<button type="submit" value="Logout" class="nav-button">
					<img src='/static/logout.png' class="search-icon">
					<div class="tooltip">Logout</div>
				</button></a>
				
		</div>
	</nav>
	<main>
		{% block content %}{% endblock %}
	</main>
	

</body>
</html>
