{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<h2>Search</h2>

{% if error_message %}
	<p class="error"> {{ error_message }} </p>
{% endif %}

<form action="/search" method="GET" onsubmit="return check(this)">

Search for:


{% if search_topics %}
	<label for="search_topics">
		Topics <input type="checkbox" id="search_topics" name="search_topics" value="True" checked>   
	</label>
{% else %}
	<label for="search_topics">
		Topics <input type="checkbox" id="search_topics" name="search_topics" value="True">   
	</label>
{% endif %}



{% if search_threads %}
	<label for="search_threads">
		Threads <input type="checkbox" id="search_threads" name="search_threads" value="True" checked>  
	</label>
{% else %}
	<label for="search_threads">
		Threads <input type="checkbox" id="search_threads" name="search_threads" value="True">  
	</label>
{% endif %}



{% if search_messages %}
	<label for="search_messages">
		Messages <input type="checkbox" id="search_messages" name="search_messages" value="True" checked>  
	</label>
{% else %}
	<label for="search_messages">
		Messages <input type="checkbox" id="search_messages" name="search_messages" value="True">  
	</label>
{% endif %}
<br><br>

Containing:
<textarea name="query" rows="2" cols="40">{{ query }}</textarea><br>


<input type="submit" value="Search"> <br>

</form>

{% if topics or threads or messages %}
Results:<br>
{% endif %}

{% if topics %}
	Topics:<br>

	{% for topic in topics %}
		<a href="/topic/{{ topic.id}}">{{ topic.name }}</a> {{ topic.count_threads }} {{ topic.count_messages}} 
		{% if topic.latest_message %}
			{{ topic.latest_message.strftime("%Y-%m-%d %H:%M:%S") }}
		{% endif %}<br>
	{% endfor %}
{% endif %}




{% if threads %}
	Threads:<br>

	{% for thread in threads %}
	<a href="/thread/{{ thread.id}}">{{ thread.subject }}</a> {{ thread.count_messages}} 
	{% if thread.latest_message %}
		{{ thread.latest_message.strftime("%Y-%m-%d %H:%M:%S") }}
	{% endif %}<br>
	{% endfor %}
{% endif %}



{% if messages %}
Messages:<br>

	{% for message in messages %}
		{{ message.username }}, {{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}
		{% if message.is_creator %}
			<a href="/edit_message/{{ message.id}}">Edit message</a>
		{% endif %}
		<br>
		{{ message.content }}<br>
		<br>
	{% endfor %}
{% endif %}



<script>
function check(form) {
	if (document.querySelector('#search_topics').checked == false && document.querySelector('#search_threads').checked == false && document.querySelector('#search_messages').checked == false) {
		alert("Pick at least one category to search (topics, threads or messages)");
        return false;
    }
    if (form.query.value.length == 0) {
        alert("Search string cannot be empty");
        return false;
    }
    if (form.query.value.length > 1000) {
        alert("Search string too long");
        return false;
    }
    return true;
}
</script>

{% endblock %}