{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<h2>Search</h2><br>

{% if error_message %}
	<p class="error"> {{ error_message }} </p>
{% endif %}

<form action="/search" method="GET" onsubmit="return check(this)">

Search for:


{% if search_topics %}
	<label for="search_topics" class="search-category">
		Topics <input type="checkbox" class="checkbox" id="search_topics" name="search_topics" value="True" checked>   
	</label>
{% else %}
	<label for="search_topics" class="search-category">
		Topics <input type="checkbox" class="checkbox" id="search_topics" name="search_topics" value="True">   
	</label>
{% endif %}



{% if search_threads %}
	<label for="search_threads" class="search-category">
		Threads <input type="checkbox" class="checkbox" id="search_threads" name="search_threads" value="True" checked>  
	</label>
{% else %}
	<label for="search_threads" class="search-category">
		Threads <input type="checkbox" class="checkbox" id="search_threads" name="search_threads" value="True">  
	</label>
{% endif %}



{% if search_messages %}
	<label for="search_messages" class="search-category">
		Messages <input type="checkbox" class="checkbox" id="search_messages" name="search_messages" value="True" checked>  
	</label>
{% else %}
	<label for="search_messages" class="search-category">
		Messages <input type="checkbox" class="checkbox" id="search_messages" name="search_messages" value="True">  
	</label>
{% endif %}

<div class="search-bar">
	Containing:
	<input type="text" class="login-line" name="query" value="{{ query }}">

	<button type="submit"><img src='/static/search.png' class="search-button"></button>
</div>
</form>


<span id="error" class="error"></span>

{% if topics or threads or messages %}
<h3>Results:</h3>
{% endif %}

{% if topics %}
	<h4>Topics:</h4>

	{% for topic in topics %}
	<a class="link_class" href="/topic/{{ topic.id }}">
		<div class="listing">
			<div>
				{{ topic.name }}
			</div>
			<div class="info-text">
				Threads: {{ topic.count_threads }}, 
				{% if topic.latest_message %}
					messages: {{ topic.count_messages}}<br>Latest: {{ topic.latest_message.strftime("%Y-%m-%d %H:%M:%S") }}
				{% else %}
					messages: {{ topic.count_messages}}
				{% endif %}
			</div>
		</div>
	</a>
	{% endfor %}
{% endif %}




{% if threads %}
	<h4>Threads:</h4>

	{% for thread in threads %}
	<a class="link_class" href="/thread/{{ thread.id}}">
		<div class="listing">
			<div>
				{{ thread.subject }}
			</div>
			<div class="info-text">
				{% if thread.latest_message %}
					Messages: {{ thread.count_messages}}<br>Latest: {{ thread.latest_message.strftime("%Y-%m-%d %H:%M:%S") }}
				{% else %}
					Messages: {{ thread.count_messages}}
				{% endif %}
			</div>
		</div>
	</a>
	{% endfor %}
{% endif %}



{% if messages %}
<h4>Messages:</h4>

	{% for message in messages %}
		{% if message.is_creator %}
		<a class="link_class" href="/edit_message/{{ message.id}}">
			<div class="listing">
				<div>
					{{ message.content }}
				</div>
				<div class="info-text">
					{{ message.username }}, {{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}
				</div>
			</div>
		</a>
		{% else %}
			<a class="link_class" href="/thread/{{ message.thread_id }}">
				<div class="listing">
					<div>
						{{ message.content }}
					</div>
					<div class="info-text">
						{{ message.username }}, {{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}
					</div>
				</div>
			</a>
		{% endif %}
	{% endfor %}
{% endif %}



<script>
function check(form) {
	var error = document.getElementById("error");
	if (document.querySelector('#search_topics').checked == false && document.querySelector('#search_threads').checked == false && document.querySelector('#search_messages').checked == false) {
		error.textContent = "Pick at least one category to search (topics, threads or messages)";
        return false;
    }
    if (form.query.value.length == 0) {
		error.textContent = "Search string cannot be empty";
        return false;
    }
    if (form.query.value.length > 1000) {
		error.textContent = "Search string too long";
        return false;
    }
    return true;
}
</script>

{% endblock %}