{% extends "layout.html" %}
{% block title %}Thread{% endblock %}
{% block content %}
<h2><a href="/topics">Topics</a>: <a href="/topic/{{ topic.id}}">{{ topic.name }}</a></h2>
<h3>Thread: {{ thread.subject }}</h3>


<input id='edit_or_send' type="hidden" name="edit_or_send" value="send">

<form action="/thread/{{ thread.id }}" method="POST" onsubmit="return check(this)">
{% if is_creator %}
	<button type="submit" formaction="/get_thread_for_editing/{{ thread.id }}" onclick="change_to_edit(this)">Edit Thread</button><br>
{% endif %}

{% if message %}
	<p class="error"> {{ message }} </p>
{% endif %}


New Message: <textarea name="content" rows="3" cols="40"></textarea><br>
<input type="submit" value="Send message" onclick="change_to_send(this)"> <br>




{% for message in messages %}
{{ message.username }}, {{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}
{% if message.is_creator %}
	<a href="/edit_message/{{ message.id}}">Edit message</a>
{% endif %}
<br>
{{ message.content }}<br>
<br>
{% endfor %}

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>


<script>
function check(form) {
    if (document.getElementById("edit_or_send").value == "send" && form.content.value.length == 0) {
        alert("Message cannot be empty");
        return false;
    }
    if (document.getElementById("edit_or_send").value == "send" && form.content.value.length > 500) {
        alert("Message too long (max 500 characters)");
        return false;
    }
    return true;
}
</script>

<script>
function change_to_send(form) {
    document.getElementById("edit_or_send").value = "send";
}
</script>

<script>
function change_to_edit(form) {
    document.getElementById("edit_or_send").value = "edit";
}
</script>

{% endblock %}