{% extends "layout.html" %}
{% block title %}Topic{% endblock %}
{% block content %}
<h2><a href="/topics">Topics</a>: {{ topic.name }}</h2>

{% if message %}
	<p class="error"> {{ message }} </p>
{% endif %}

<form action="/topic/{{ topic.id }}" method="POST">

<input type="submit" value="Create New Thread"> <br>



Threads:<br>

{% for thread in threads %}
<a href="/thread/{{ thread.id}}">{{ thread.subject }}</a> {{ thread.count_messages}} 
{% if thread.latest_message %}
	{{ thread.latest_message.strftime("%Y-%m-%d %H:%M:%S") }}
{% endif %}<br>
{% endfor %}

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}