{% extends "layout.html" %}
{% block title %}Topics{% endblock %}
{% block content %}
<h2>Topics</h2><br>

{% if message %}
	<p class="error"> {{ message }} </p>
{% endif %}

<form action="/topics" method="POST">

{% if is_admin %}
	<button type="submit" formaction="/topics">Create New Topic</button><br><br><br>

	{% for topic in topic_list %}
		<a class="link_class" href="/topic/{{ topic.id }}">	
			<div class="admin-topic-list listing">
				<div class="admin-edit-button">
					<button type="submit" formaction="/get_topic_for_editing/{{ topic.id }}">Edit</button>
				</div>
				
				
				<div>
					<div>
						{{ topic.name }}
					</div>
					<div class="info-text">
						Threads: {{ topic.count_threads }}, 
						{% if topic.latest_message %}
							messages: {{ topic.count_messages}}<br>Latest: {{ topic.latest_message.strftime("%Y-%m-%d %H:%M:%S") }}
						{% else %}
							messages: {{ topic.count_messages}}
						{% endif %}
					</div>
				</div>
				
			</div>
		</a>
	{% endfor %}
{% else %}
	{% for topic in topic_list %}
		<a class="link_class" href="/topic/{{ topic.id }}">
			<div class="listing">
				<div>
					{{ topic.name }}
				</div>
				<div class="info-text">
					Threads: {{ topic.count_threads }}, 
					{% if topic.latest_message %}
						messages: {{ topic.count_messages}}<br>Latest: {{ topic.latest_message.strftime("%Y-%m-%d %H:%M:%S") }}
					{% else %}
						messages: {{ topic.count_messages}}
					{% endif %}
				</div>
			</div>
		</a>
	{% endfor %}
{% endif %}


<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}