{% extends "layout.html" %}
{% block title %}Topics{% endblock %}
{% block content %}
<h2>Topics</h2>

{% if message %}
	<p class="error"> {{ message }} </p>
{% endif %}

<form action="/topics" method="POST">

{% if is_admin %}
	<button type="submit" formaction="/topics">Create New Topic</button><br>
	{% for topic in topic_list %}
	<button type="submit" formaction="/get_topic_for_editing/{{ topic.id }}">Edit</button>
	<a href="/topic/{{ topic.id}}">{{ topic.name }}</a><br>
	{% endfor %}
{% else %}
	{% for topic in topic_list %}
		<a href="/topic/{{ topic.id}}">{{ topic.name }}</a><br>
	{% endfor %}
{% endif %}


<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}